@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2a2a2a;
    color: #c1c1c1;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;
    font-family: 'Graduate', 'cursive';
}

#calculator {
    border: 2px solid #c1c1c1;
    border-radius: 8px;
    padding: 8px;
    background-color: #121212;
}

#display {
    margin: 2px 2px 6px 2px;
    border: 1px solid black;
    text-align: right;
    font-size: 40px;
    border-radius: 4px;
    background-color: #c1c1c1;
    color: #121212;
}

#first-row,
#second-row,
#third-row,
#fourth-row,
#fifth-row {
    display: flex;
}

button {
    flex-grow: 1;
    width: 50px;
    font-size: 30px;
    margin: 4px;
    padding: 2px;
    border-radius: 4px;
    font-family: 'Graduate', 'cursive';
    background-color: #1e1e1e;
    color: #c1c1c1;
}

.number {
    color: #fb3c4c
}

.operations {
    color: #50fb97
}

.settings {
    color: #610ed6
}